replicaCount: 1

autoscaling:
  enabled: false

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "250m"
    memory: "128Mi"

ingress:
  enabled: true
  className: "alb"
  hosts:
    - host: dev-frontend.test
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
