replicaCount: 2

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

ingress:
  enabled: true
  className: "alb"
  hosts:
    - host: staging-frontend.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
